.login-card {
  max-width: 400px;
  height: 350px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 4px 4px 4px 4px rgb(170, 169, 169);
}

.login-form {
  margin: auto;
}

.login-btn {
  margin-top: 25px;
}

.card-footer {
  color: red;
  margin: auto;
}

.mt-50 {
  margin-top: 20px;
}

.full-width {
  width: 90%;
}
