.app-container {
  margin: 0;
}

.app-body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.loader {
  height: 5px;
  color: black;
}

.footer {
  background-color: #3f51b5;
  padding: 10px 0 10px 30px;
  color: white;
  height: 50px;
  font-size: larger;
  width: 100%;
  position: fixed;
  bottom: 0;
}
