.app-container {
  margin: 0;
}

.app-body {
  padding-bottom: 100px;
}

.footer {
  background-color: #3f51b5;
  padding: 10px 0 10px 30px;
  color: white;
  height: 50px;
  font-size: larger;
  width: 100%;
  position: fixed;
  bottom: 0;
}
