<div class="container">
  <div *ngIf="isWishlistEmpty; else showWishlistItems">
    <h1 class="mt-lg">{{ "WATCHLIST.WISHLIST_EMPTY_LABEL" | translate }}</h1>
    <h2>
      {{ "WATCHLIST.WISHLIST_EMPTY_SUB_LABEL" | translate }}
    </h2>
  </div>
</div>

<ng-template #showWishlistItems>
  <div
    *ngIf="favoriteMovies && favoriteMovies.length > 0"
    class="favorites mt-md"
  >
    <h2>{{ "WATCHLIST.FAVORITE_MOVIES_SHOWS_HEADING" | translate }}</h2>
    <app-watchlist-carousel [movies]="favoriteMovies"></app-watchlist-carousel>

    <mat-divider></mat-divider>
  </div>

  <div
    *ngIf="watchLaterMovies && watchLaterMovies.length > 0"
    class="watch-later mt-lg"
  >
    <h2>{{ "WATCHLIST.ADDED_TO_WATCH_LATER_HEADING" | translate }}</h2>
    <app-watchlist-carousel
      [movies]="watchLaterMovies"
    ></app-watchlist-carousel>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="watchedMovies && watchedMovies.length > 0" class="mt-lg watched">
    <h2>{{ "WATCHLIST.WATCHED_MOVIES_SHOWS_HEADING" | translate }}</h2>
    <app-watchlist-carousel [movies]="watchedMovies"></app-watchlist-carousel>
    <mat-divider></mat-divider>
  </div>
</ng-template>
